{% extends "peliculas/layout.html" %}
{% load static %}

{% block content %}
    <h1>Películas</h1>
{% endblock content %}

{% block body %}
    <h3>Encuentra tu película</h3>
    <section class="container">
        
        <form id="busqueda" class="row g-3" action="{% url 'index'%}" method="post">
            <!--Esto es para evitar el cross site request forgery-->
            {% csrf_token %}
            <div class="col-auto">
                <label for="buscar" id="buscarl">Ingresa el título:</label>
            </div>
            <div class="col-auto">
                <input autofocus class="form-control" type="text" name="buscar" id="buscar" placeholder="Búsqueda...">
            </div>
            <div class="col-auto">
                <input class="button" id="buttonsearch" disabled="true" type="submit" value="Buscar" style="opacity:0.5">
            </div>
        </form>
        <hr>
        <!--Alerta al eliminar un registro-->
        {% if message1 %}
            <div class="alert alert-primary" id="alerta" role="alert">{{message1}}</div>
        {% endif %}
    </section>
    
    <br>

    <!--Si el resultado de una busqueda fue exitoso-->
    {% for resultado in resultados %}
    <section class="grid container-md">
        <section>
            <h4>Película</h4>
            <!--Para dar un único id a la forma de cada pelicula usaremos el id identificador de la pelicula-->
            <form action="#" id="movie{{resultado.0.id}}">
                <ul>
                    <li><b>Título: </b><input style="background-color:#000428; color: white;" class="form-control black" type="text" readonly="readonly" value="{{ resultado.0.titulo }}"></li>
                    <li><b>Director: </b><input style="background-color:#000428; color: white;" readonly="readonly" type="text" class="form-control black" value="{{ resultado.0.director }}"></li>
                    <li id="message{{resultado.0.id}}" style="display:none; color:white">El director no está registrado ¿Lo has escrito bien? registralo <i><a href="{% url 'registrarpersona' %}">aquí.</a></i></li>
                    <!--Si la pelicula tiene calificación-->
                    {%if resultado.0.rating %}
                        <li><b>Rating: </b>{{ resultado.0.rating }} <b>de</b> {{resultado.0.votos}} votos</li>
                    {% else %}
                        <li><b>Rating: </b> En espera...</li>
                    {% endif %}
                </ul>
                <div class="derecha">
                <input class="btn btn-danger" type="submit" value="Guardar cambios" style="display:none">
                </div>
            </form>
            <h4>Actores</h4>
                <!--forma para buscar actores y agregarlos a la pelicula-->
                <div class="buscaractor" id="buscar{{resultado.0.id}}">
                <form class="row g-3" action="#" id="form{{resultado.0.id}}">
                    <div class="col-auto">
                        <label for="buscaractor">Buscar actor</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" required class="form-control" name="buscaractor" placeholder="Búsqueda...">
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="button" value="Buscar">
                    </div>    
                </form>
                <hr>
                </div>
                <div>
                    <ul id="encontrado{{resultado.0.id}}">

                    </ul>
                </div>

                <ul id="actors{{resultado.0.id}}">    
                {% for actor in resultado.1 %}
                    <form  action="{% url 'eliminar_star' actor.id resultado.0.id %}">
                    <li><input type="text" data-id={{actor.id}} class="form-control" readonly="readonly" value="{{ actor.name }}" style="background-color:#000428; color: white;"></li>
                    <input class="eliminaractor"  type="submit" style="display:none" value="&times; eliminar">
                    </form>
                {% endfor %}
                </ul>
        </section>
        <section class="acciones">
            <button class="editar" data-id="{{resultado.0.id}}">Editar</button>
            <!--Pasamos el id de la pelicula a eliminar-->
            <form class="eliminarf" id="eliminarf" action="{% url 'eliminar' resultado.0.id %}" method="post">
                {% csrf_token %}
                <input name="eliminar" class="eliminar btn btn-danger" type="submit" value="Eliminar">
            </form>
        </section>
    </section>
     <!--Si el resultado de la busqueda no fue exitoso-->    
    {% empty %}
        <h3>{{message}}</h3>
    {% endfor %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'peliculas/index.js' %}"></script>
{% endblock %}