{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'peliculas/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <script src="https://kit.fontawesome.com/b28de75029.js" crossorigin="anonymous"></script>

    {% block script %} 
    {% endblock %}

    <title>{% block title %} Películas{% endblock %}</title>

</head>

<body>

   <!-- <div class="header">{% block content %}{% endblock content %}</div>-->
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registrarpersona'%}">Registrar persona</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registrarpelicula' %}">Registrar película</a>
            </li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}    
</body>
</html>