body{
    background: linear-gradient(135deg, #000428, #004e92);
    font-family: "Lora", sans-serif;
}
h1{
    padding: 10px;
    text-align: center;
    color:#d4aa00;
}
h3{
    padding: 20px;
    color:white;
    text-align: center;
}
h4{
    padding: 10px;
    color:white;
}

label{
    color: #d4aa00;
    font-size: large;
}
ul{
    list-style-type: none;
}
ul li{
    color:#d4aa00;
    margin-bottom: 10px;;
}

h2{
    color: white;
}

a{
    color:#d4aa00;
}
a:hover{
    color:white;
}
.header{
    height: 70px;
    background-color: white;
}
nav{
    background-color: #000428;
    height: 50px;
}


.button{
    margin-top: 5px;
    background-color:#ffcc00;
    border-color: #ffcc00;
    color:#000428;
    font-weight: 700;
    height: 30px;
    width: 130px;
    opacity: 1;
}
.button:hover{
    background-color:#d4aa00;
    border-color: #ffcc00;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-color: white;
    border-style: inset;
    margin-bottom: 10px;
}
.acciones{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 10px;
}

.eliminaractor{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #dc3545;
    border-color:  #dc3545;
    color:white;
    height: 25px;
    width: 75px;
    opacity: 1;
    display:none;
    font-size: small;   
}
.agregaractor{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #ffcc00;
    border-color:  #d4aa00;
    color: #000428;
    font-weight: 700;
    height: 25px;
    width: 75px;
    opacity: 1;
    font-size: small;   
}

.derecha{
    display: flex;
    justify-content: flex-end;
}

hr{
    background-color: white;
}

.buscaractor{
    margin-bottom: 10px;
    display:none;
}

.editar{
    background-color:#d4aa00;
    border-color: #ffcc00;
    color:white;
    height: 37px;
    width: 100px;
    opacity: 1;
    border-radius: 0.25rem;

}

.botones{
    display:flex;
    justify-content: space-between;
}