body{
    background: linear-gradient(135deg, #000428, #004e92);
}
h1{
    padding: 20px;
    text-align: center;
    color:white;
}
label{
    color: white;
    font-size: large;
}

ul li {
    color:white;    
}

h3{
    color: white;
}

a{
    color:#d4aa00;
}
.header{
    height: 200px;
}
nav{
    background-color: #000428;
}


.button{
    background-color:#ffcc00;
    border-color: #ffcc00;
    border-radius: 20px;
    color:#000428;
    font-weight: 700;
    height: 40px;
    width: 130px;
}
.button:hover{
    background-color:#d4aa00;
    border-color: #ffcc00;
}